* {
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    --purple: #9CA0F0;
    --blue: #92C9ED;
    --green: #8EF0C1;
    --lightblue: #C1E3F9;
    --darkpurple: #767BE1;
    --darkgreen: #64E1A5;
    --darkergreen: #41CA88;
}

body {
    margin: 0; 
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-title {
    background: linear-gradient(120deg, var(--blue), var(--green));
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.big-title > div {
    font-size: 4em;
    font-weight: 400;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: row;
}

.game-grid {
    margin: 20px;
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
}

.game-cell {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    border: 0 solid white;
    cursor: pointer;
}

.game-cell .fa-user { font-size: 2.2em; }
.game-cell .fa-desktop { font-size: 2.2em; }
.game-cell:nth-child(even) { background-color: var(--lightblue); }
.game-cell:nth-child(odd) { background-color: var(--blue); }

.game-cell:hover {
    border: 5px solid white;
}
.disable  {
    cursor: default;
}
.disable:hover {
    border: 0;
}
.victorious-cell {
    color: var(--darkergreen);
    font-size: 1.1em;
}

.game-log > p { font-size: 1.5em; color: var(--purple); }
.game-log > #messageBox {
    margin: 2px;
    border: 2px solid var(--purple);
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: scroll;
}

.game-log > #messageBox > p { 
    font-size: 1.2em; 
    margin: 0;
    padding: 5px; 
}

.player-info { color: var(--darkgreen); }
.opponent-info { color: var(--darkpurple); }

.btn {
    padding: 9px 18px;
    color: var(--darkergreen);
    border: 1px solid var(--darkergreen);
    transition-duration: 0.3s;
    margin: 6px 2px;
    border-radius: 5px;
    font-size: 1.2em;
}
.btn:hover {
    background-color: var(--darkergreen);
    color: white;
}
